{{ if type == 'fullscreen_image' }}
  {{ partial:components/media/image/fullscreen }}
{{ /if }}

{{ if type == 'page_section' }}
  {{ partial:layout/inner class="first-of-type:pt-16 first-of-type:md:pt-32 first-of-type:lg:pt-48 first-of-type:xl:pt-72" }}
    <div class="col-span-8 md:col-span-12 lg:col-span-3 xl:col-start-3">
      <h1 class="uppercase tracking-wide text-azure">{{ title }}</h1>
    </div>
    <div class="col-span-8 md:col-span-16 lg:col-span-12 xl:col-span-9 xl:col-start-6">
      <div class="sm:grid sm:grid-cols-12 sm:gap-x-16">
      {{ elements }}

        {{ if type == 'editor' }}
          {{ partial:components/cards/text }}
        {{ /if }}

        {{ if type == 'entity' }}
          {{ partial:components/cards/entity }}
        {{ /if }}

      {{ /elements }}
      </div>
    </div>
  {{ /partial:layout/inner }}
{{ /if }}