/* @import url("https://use.typekit.net/krz1amn.css"); */

/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */

@font-face {
  font-family: 'effra-regular';
  src: url('fonts/Effra_W_Rg.woff2') format('woff2'), url('fonts/Effra_W_Rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'effra-medium';
  src: url('fonts/Effra_W_Md.woff2') format('woff2'), url('fonts/Effra_W_Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}