/**
 * -----------------------------------------------------------------------------
 * File: views/content
 * -----------------------------------------------------------------------------
 */


// Social media
.social-media {
  display: flex;
  justify-content: space-between;
  margin-top: $space-8x;
  margin-left: auto;
  margin-right: auto;
  max-width: 148px;
  width: 100%;

  &.hide-mobile {
    display: none;
  }

  @include bp-md() {
    display: flex !important;
    margin: 0;
    position: fixed;
    right: $space-4x;
    top: $space-6x;
    width: 120px;
    z-index: 501;
  }

  @include bp-xl() {
    right: calc((100% - #{$site-max-width})/2 + 112px);
  }

  a {
    display: block;
    height: 20px;
    text-decoration: none;
    width: 20px;

    svg {
      @extend %is-responsive;
    }
  }
}

// Slogan
.slogan {
  bottom: $space-11x;
  color: $color-black;
  @include font-size($fs-lg);
  @include font-medium();
  left: $space-4x;
  line-height: 1 !important;
  position: fixed;
  z-index: 201;

  @include bp-md() {
    color: $color-white;
    left: 164px;
    @include font-size($fs-xl);
    position: absolute;
  }

  @include bp-xl() {
    bottom: 96px;
    color: $color-white;
    left: 208px;
  }
}

// Content
.content {
  padding: $space-14x 0;

  @include bp-md() {
    margin-left: 152px;
  }

  @include bp-xl() {
    padding: $space-19x 0;
    margin-left: 196px;
  }

  p {
    margin-bottom: $space-8x;
  }

  a:not(.anchor) {
    color: $color-black;
    text-decoration: none;
    transition: color .12s ease-in;

    &:hover {
      color: $color-blue;
    }
  }
}

.addresses {
  @extend %grid-cols-14;

  .address__type {
    @extend %span-3;

    h3 {
      margin-bottom: $space-6x;
    }
  }

  .address__items {
    @extend %start-4;
    @extend %span-8;

    .item {
      @extend %grid-cols-8;
      border-top: 1px solid #000;
      margin-bottom: 68px;
      padding-top: 20px; 

      @include bp-md() {
        margin-top: 4px;
      }


      .item__title {
        @extend %span-3;
      }

      .item__content {
        @extend %span-5;
      }
    }
  }
}

.career {
  @extend %grid-cols-14;
  margin-top: $space-1x;

  .career__items {
    @extend %span-9;
    @extend %xl\:span-9;

    .item {
      @extend %grid-cols-8;
      border-top: 1px solid #000;
      margin-bottom: 68px;
      padding-top: 20px; 

      .item__title {
        @extend %span-3;
        @extend %lg\:span-3;
      }

      .item__content {
        @extend %span-5;
        @extend %lg\:span-5;

        a {
          color: $color-blue;
          &:hover {
            color: $color-black;
          }
        }
      }
    }

    h3 {
      margin-bottom: $space-5x;
    }
  }

  .career__info {
    @extend %start-11;
    @extend %span-5;
    @extend %lg\:span-5;
    margin-top: $space-md;

    @include bp-md() {
      margin-top: -4px;
    }
  }
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}