{{ if is_homepage }}
  <main role="main" class="flex-grow">
    <div class="relative">
      <video 
        playsinline 
        autoplay 
        muted 
        loop 
        class="w-full h-full lg:h-[calc(100vh_-_144px)] object-cover aspect-[3/4] sm:aspect-video lg:aspect-auto" 
        preload="none">
        <source src="/assets/video/aas.aero-1080p_low.mp4" type="video/mp4">
      </video>
      <div class="absolute bottom-64 xl:bottom-32 -left-2 lg:left-0 w-full px-16 lg:pl-158 xl:pl-12">
        <div class="xl:grid xl:grid-cols-16 gap-x-16 max-w-site mx-auto">
          <div class="text-white xl:col-start-3 xl:col-span-3 relative">
            {{ partial:icons/ready class="w-144 lg:w-[260px] h-auto" }}
          </div>
        </div>
      </div>
    </div>
    {{ partial:misc/social-media-channels class="py-28 mx-auto lg:hidden"}}
  </main>
{{ else }}
  <main role="main" class="w-full flex-grow">
    {{ template_content }}
  </main>
{{ /if }}


