@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "typo/webfonts.css";
@import "components/headings.css";
@import "utils.css";

* {
  font-variant-ligatures: none;
}

html {
  font-feature-settings: 'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
}

main p:not(:last-of-type) {
  @apply mb-24
}

main a {
  @apply no-underline hover:text-azure transition-colors
}

main .content-container a {
  @apply underline underline-offset-4 decoration-1 hover:no-underline
}

strong {
  @apply font-effra-medium font-medium text-azure
}

/* Join Widget */
#join-widget > div {
  @apply !p-0
}

#join-widget div[data-testid="EmploymentTypeFilter"] {
  @apply !hidden
}

 #join-widget > div > a {
  @apply !shadow-none !px-0 !py-16 !border-b !rounded-none !border-black !mb-8;
  border-bottom: 2px solid #000;
  padding-bottom: 1rem;
}

#join-widget input {
  @apply !border !border-black !bg-transparent !rounded-none !shadow-none;
}

#join-widget * {
  @apply text-base font-effra-regular !text-black
}

#join-widget .markup,
#join-widget .markup a {
  @apply !text-sm
}

#join-widget div[data-testid="PrevPage"],
#join-widget div[data-testid="NextPage"],
#join-widget div[data-testid="Page"] {
  @apply !bg-transparent !border-none !opacity-100
}

#join-widget div[data-testid="PrevPage"] svg,
#join-widget div[data-testid="NextPage"] svg,
#join-widget div[data-testid="Page"] svg {
  @apply !fill-current
}