/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  background-color: $color-white;
  height: $header-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 401;
  
  @include bp-md() {
    height: $header-height-sm;
  }

  > div {
    @extend %inner-block;
    display: flex;
    height: inherit;
    justify-content: space-between;

    @include bp-md() {
      justify-content: flex-start;
    }
  }


}