/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

// Responsive font sizes
$fs-xs: (
  null: (16px,1.2),
  sm:   (16px,1.2),
  md:   (16px,1.2),
  lg:   (16px,1.2)  
);

$fs-sm: (
  null: (18px,1.333),
  sm:   (18px,1.333),
  md:   (18px,1.333),
  lg:   (18px,1.333)  
);

$fs-md: (
  null: (36px,1.2),
  sm:   (36px,1.2),
  md:   (36px,1.2),
  lg:   (36px,1.2)  
);

$fs-lg: (
  null: (48px,1.2),
  sm:   (48px,1.2),
  md:   (48px,1),
  lg:   (48px,1)  
);

$fs-xl: (
  null: (96px,1.2),
  sm:   (96px,1.2),
  md:   (96px,1.2),
  lg:   (96px,1.2)  
);