/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */

%anchor,
.anchor {
  color: $color-black;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: color .1s ease-out;
  
  &:hover {
    text-decoration: none;
  }
}
