<article class="pt-16 mt-48 border-t border-t-black first-of-type:!border-0 last-of-type:mb-48">
{{ if image }}
  <figure class="mb-16">
    <picture>
      <source media="(min-width: 768px)" srcset="{{ glide:image preset='md-webp' }}" type="image/webp">
      <source srcset="{{ glide:image preset='sm-webp' }}" type="image/webp">
      <source media="(min-width: 768px)" srcset="{{ glide:image preset='md' }}" type="image/jpeg">
      <img 
        src="{{ glide:image preset='sm' }}" 
        alt="{{ image:alt }}" 
        title="{{ image:alt }}" 
        height="{{ image:height }}" 
        width="{{ image:width }}"
        class="block aspect-square w-full h-full object-cover {{ class ?? '' }}"
        loading="lazy">
    </picture>
  </figure>
{{ /if }}
{{ if title }}
  <h2 class="font-effra-medium font-medium">{{ title }} </h2>
{{ /if }}
{{ if description }}
  {{ description }}
{{ /if }}
</article>